
/* Change background colour and font*/
body{
    background-color:rgb(23, 17, 85);
    font-family: Arial, Helvetica, sans-serif;
    }

#logo {
        float: left;
        width: 50;
        height: 50;
      }

/* Style the navigation bar: removing the bullets and the margins and padding from the list */
div.Navbar ul {
    list-style-type: none;
    margin: 5;
    padding: 50;
    overflow: hidden;
    background-color: rgb(250, 253, 253);
 }

/* Position where list will be on navigation bar */
div.Navbar li1 {
    float: right;
  }

/* Change text colour on navigation bar */
div.Navbar li1 a {
    display: block;
    color: rgb(23, 17, 85);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

/* Adjust background colour when mouse hovers over navigation bar */
div.Navbar li1 a:hover:not(.active) {
    background-color: rgb(196, 193, 193);
  }

/* Adjust heading colour */
h1 {
  color: rgb(246, 246, 248);
}

/* Home page: Banner */
#poster{
  width: auto;
  background-image:url('J.Clerid\ Solutions\ Poster.png');
  height: auto;
  background-position: center;
}

/* Contact Us Page: Adjust text colour */
p{
  color: rgb(246, 246, 248);
  text-align: center;
}

/* Adjust text colour and placement */
p1{
  color: rgb(246, 246, 248);
  float: inline-end;
}

/* Contact Us Page: Adjust image placement */
#email{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#phone{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#address{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h2{
  color: rgb(246, 246, 248);
  text-align: center;
}

p2{
  color: rgb(246, 246, 248);
  text-align: center;
  padding: 300px;
}

p3{
  color: rgb(246, 246, 248);
}

h3{
  color: rgb(246, 246, 248);
}

#Jlogo{
  float: right;
  margin-right: 5%;
}

/* CSS for Services page */

h4{
 color: rgb(23, 17, 85);
}

/* Services Page: Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 30%;
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

/* Meet the Team/About Us page

/* Three columns side by side */
.column {
  width: 20%;
  margin-bottom: 16px;
  padding: 0 8px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
.container {
  padding: 0 16px;
}

/* Clear floats */
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}
